@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Outfit;
  line-height: 1.5;
  font-weight: bolder;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
  
}

/* .head {
  background-color: hsl(226, 83%, 7%);
} */

.foot {
  background-color: hsl(226, 83%, 7%);
}
.side{
  margin-top: 6.5pc;
}
.text{
  color: red;
}
.annonce{
  display: flex;
  flex-direction: column;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #e2e8f0;
  color: #4a5568;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  margin: 0 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #cbd5e0;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .pagination button {
    font-size: 14px;
    padding: 6px 10px;
    margin: 0 2px;
  }
}
/* Add these styles at the end of your Footer.css file */

.footer {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
  text-align: center;
  width: 100%;
  bottom: 0;
  display: f  ;
}

.footer p {
  margin-bottom: 1rem;
}

.footer__person-images {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer__person-image {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%;
  /* margin: 0 0.5rem; */
}
.footer__logo-image {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  /* margin: 0 5rem 1rem; */
  border-radius: 50%;
}

/* Add styles for the social icons */
.footer__social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer__social-icon {
  font-size: 1.5rem;
  color: var(--icon-color);
  margin: 0 1rem;
  cursor: pointer;
}
.footer__person-container {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  margin-top: 1rem;
}


.footer__logo-container {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap onto the next line */
  margin-top: 4rem;
}

.footer__person-image:hover {
  transform: scale(1.5); /* Increase size on hover */
}
.footer__logo-image:hover {
  transform: scale(1.5); /* Increase size on hover */
}
.footer__icon-image:hover {
  transform: scale(2); /* Increase size on hover */
}
@media (max-width: 768px) {
  .footer__person-container {
    flex-direction: column;
    align-items: center;
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo-container {
    margin-top: 20px;
  }
}